cython
imgaug~=0.3.0
matplotlib~=3.1.0
numpy>=1.11.0,<=1.22.4
opencv-python-headless~=4.5.1.48
Pillow==9.0.*
imageio~=2.10.1
pyvips==2.1.*
scikit-image==0.16.*
scikit-learn~=0.22
scipy==1.1.*
tensorflow~=2.6.4
pyyaml==6.0